<ion-slides pager="true" [options]="slideOpts">
	<ion-slide>
		<app-logo></app-logo>
		<h2>Welcome to SRD</h2>
		<p>All of the SRD resource links one click away!</p>
		<span class="span"> - Application built by the SRD team.</span>
	</ion-slide>
	<!-- <ion-slide>
		<h1>Firebase Project</h1>
	</ion-slide> -->
	<ion-slide>
		<img src="https://img.icons8.com/fluent/2x/disclaimer.png" alt="Disclaimer" />
		<h1>Disclaimer!</h1>
		<p>Access only to the SRD team members.</p>
	</ion-slide>
</ion-slides>
